root = true

[*]
charset = utf-8
end_of_line = lf
ij_any_keep_indents_on_empty_lines = false
ij_smart_tabs = true
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
max_line_length = unset
